test-suite/documents/NVDL.nvdl

<?xml version="1.0"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0">
  <namespace ns="http://xproc.org/ns/testsuite/3.0/book">
     <validate schema="NVDL-Book.rng" />
     <validate schema="NVDL-Book.sch" />
   </namespace>
    <namespace ns="http://xproc.org/ns/testsuite/3.0/comments">
     <validate schema="NVDL-Comments.xsd"/>
   </namespace>
</rules>
